.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: white;
  background-color: #1ea7fd;
  border-radius: 12px;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  border: none
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
  margin-right: 10%;
  color: white;
  background-color: #1ea7fd;
  outline: none;
  cursor: pointer;
  border: none;
  margin-bottom: 4px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  width: 60%;
  margin: 15px auto;
  float: left;
  padding: 12px 24px;
  background-color: #1ea7fd;
  color: white;
}
